egs/paldaruo_welsh/s5/local/SpeechRecPrompts_2.dtd

<!ELEMENT session (metadata?, recordingscript)><!ELEMENT script (metadata?, recordingscript)><!ATTLIST session id CDATA #REQUIRED><!ATTLIST script id CDATA #REQUIRED><!ELEMENT metadata (key, value)+><!ELEMENT properties (key, value)+><!ELEMENT key (#PCDATA)><!ELEMENT value (#PCDATA)*><!ELEMENT recordingscript (section)*><!ATTLIST section name CDATA #IMPLIED                  speakerdisplay CDATA #IMPLIED                  order CDATA #IMPLIED                  mode CDATA #IMPLIED                  promptphase CDATA #IMPLIED><!ELEMENT section (nonrecording | recording)*><!ELEMENT nonrecording (presenter?, mediaitem+)><!ATTLIST nonrecording duration CDATA #IMPLIED><!ELEMENT recording (recinstructions?, recprompt, reccomment?) ><!ATTLIST recording	itemcode CDATA #REQUIRED					recduration CDATA #IMPLIED					prerecdelay CDATA #IMPLIED					postrecdelay CDATA #IMPLIED					finalsilence CDATA #IMPLIED					beep CDATA #IMPLIED					rectype CDATA #IMPLIED					blocked CDATA #IMPLIED					><!ELEMENT recinstructions (#PCDATA) ><!ATTLIST recinstructions	mimetype CDATA #IMPLIED							charset CDATA #IMPLIED							src CDATA #IMPLIED><!ELEMENT recprompt (presenter?, mediaitem+)><!ATTLIST recprompt target CDATA #IMPLIED><!ELEMENT presenter (properties?)><!ATTLIST presenter type CDATA #IMPLIED					classname CDATA #IMPLIED><!ELEMENT reccomment (#PCDATA)><!ELEMENT mediaitem (#PCDATA)*><!ATTLIST mediaitem	mimetype CDATA #IMPLIED					charset CDATA #IMPLIED					src CDATA #IMPLIED					alt CDATA #IMPLIED					autoplay CDATA #IMPLIED					modal CDATA #IMPLIED					width CDATA #IMPLIED					height CDATA #IMPLIED					volume CDATA #IMPLIED					annotationTemplate CDATA #IMPLIED					languageISO639code CDATA #IMPLIED					countryISO3166code CDATA #IMPLIED					>